<<<<<<< HEAD
 /* Estilo para el menú de navegación */
=======
/*BODY*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.hmn {
    color: chartreuse;
}

/*CONTENEDOR*/
.Container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/*BOTONES*/
.botones-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.boton {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.boton:hover {
    transform: scale(1.05);
}

.boton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.boton:hover::after {
    opacity: 1;
}

.boton img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.boton h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

/* Estilo base para todos los textos */
.texto-style {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con transparencia */
    padding: 10px; /* Espacio interior generoso */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px auto; /* Margen superior e inferior para separación */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera para profundidad */
    max-width: 90%; /* Controla el ancho máximo del bloque */
    margin-left: auto; /* Centra el bloque horizontalmente */
    margin-right: auto;
    color: #333; /* Color de texto oscuro para contraste con el fondo */
    font-family: 'Arial', sans-serif; /* Fuente genérica para alta legibilidad */
}

/* Estilos especializados para el título principal */
.t-s-tit {
    background-color: rgb(23, 31, 39);
    font-size: 36px; /* Tamaño de fuente grande para títulos principales */
    font-weight: bold; /* Fuente en negrita */
    color: #c7c6c6; /* Color de texto un poco más oscuro para destacar */
}

/* NAVEGADOR*/
>>>>>>> 910ba30b072c55cf2328ec1c55f2b6d5eb84a278
nav {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid rgba(51, 204, 51);
    height: 50px;
}


.nav-links {
    display: flex;
    align-items: center;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 24px;
    display: inline-block;
}

.nav-links a:hover {
    background-color: rgb(87, 238, 67, 0.5);
    color: black;
}

/* Estilo para el menú de apuntes */
.apuntes {
    position: relative;
    display: inline-block;
}

.apuntes-contenido {
    position: absolute;
    background-color: #474545;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    top: 100%;
    left: 0;
}

.apuntes:hover .apuntes-contenido {
    max-height: 500px;
}

.apuntes-contenido a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.apuntes-contenido a:hover {
    background-color: #474545;
}

/* Estilo para el botón de menú desplegable */
.menu-toggle {
    display: none; /* Oculta el botón en pantallas grandes */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .botones-container {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas en dispositivos más pequeños */
        gap: 10px; /* Reducir el espacio entre los botones */
    }

    .Container {
        padding: 10px; /* Reducir el relleno del contenedor principal */
    }

    .boton {
        padding: 15px; /* Reducir el relleno de los botones */
        max-width: 100%; /* Ajustar el ancho máximo de los botones */
    }

    .boton h2 {
        font-size: 18px; /* Reducir el tamaño de la fuente para adaptarse a pantallas más pequeñas */
    }

    .menu-toggle {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }

    .nav-links {
        display: none; /* Ocultar el menú de navegación en pantallas pequeñas */
        flex-direction: column; /* Alinear los enlaces en columna */
        width: 100%;
        background-color: black; /* Fondo negro para el menú desplegable */
        position: absolute;
        top: 50px;
        left: 0;
    }

    .nav-links a {
        margin: 10px 0; /* Espacio entre los enlaces en el menú desplegable */
        padding: 10px 20px;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex; /* Mostrar el menú de navegación cuando se hace clic en el botón */
    }
}
