img {
    object-fit: cover;
}
main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4 200px);
    grid-template-rows: 200px 200px 200px;
    font-size: 5rem;
    width: 80%;
    margin: 0 auto;
    background-color: blueviolet;
}
div img {
    width: 100%;
    height: 100%;
}
div{
    background-color: aqua;
    color: white;
    padding: 1rem;
}
.c1 {
    grid-row: 1/ span 2;
}
.c3 {
    grid-column: 3/ span 2;
}
.c4 {
    grid-column: 2/ span 2;
}
.c8 {
    grid-column: 3/ span 2;
}