body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
main {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

p {
    color: #666;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

form {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 400px;
}
